<!--@subject {{trans "Agrekom product configurator - customer configuration"}} @-->
<!--@vars {
"var configurationId":"ASDV",
"var products":"Products",
"var addToCartUrl":"url",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Hello. Thank you for choosing our product configurator."}}</p>
<p>{{trans "Your configuration identification number is:"}}</p>

<h2 style="text-align: center; margin: 20px 0px">{{var configurationId}}</h2>

<p>{{trans 'You can add this configuration to cart by clicking <a href="%add_to_cart_url">here</a> or add desire products from list below.' add_to_cart_url=$addToCartUrl|raw}}</p>

<div>{{var products|raw}}</div>

<br>

{{template config_path="design/email/footer_template"}}
