<!--@subject {{trans "Product configurator - customer notification"}} @-->
<!--@vars {
"var customerMessage":"Customer Message",
"var products":"Products",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Send email or call customer to: %message" message=$customerMessage}}</p>
<p>{{trans "Customers products configuration:"}}</p>

<div>{{var products|raw}}</div>

{{template config_path="design/email/footer_template"}}
