<div class="step-header">
    <div class="header-left-column">
        <button class="js-show-previous-step previous-step">
            <span class="chevron left"></span><?= __('krok wstecz'); ?>
        </button>
    </div>
    <div class="header-content-column">
        <div class="js-step-number-header step-number"></div>
        <div class="js-current-step-heading current-step"></div>
        <button class="js-show-compare-table show-compare-table">
            <span class="show-compare-btn-label js-show-compare-label"><?= __('Sprawdź tabelę porównawczą'); ?></span>
            <span class="chevron right"></span>
        </button>
        <div class="js-alert alert is-hidden"></div>
    </div>
</div>
<div class="step-content">
    <div class="products-content">
        <div class="js-step-attribute-codes attributes-codes-list"></div>
        <div class="js-step-products products-list owl-carousel owl-theme"></div>
    </div>
</div>
<div class="step-footer">
    <div class="js-footer-overlay footer-overlay hidden"></div>
    <div class="footer-left-column js-footer-left-column hidden">
        <div class="footer-left-column-title-img"></div>
        <div class="js-left-column-title left-column-title"><?= __('Wybierz długość przewodów pomiędzy zbiornikiem a pistoletem'); ?></div>
        <div class="js-related-item-img-holder related-item-img-holder"></div>
        <div class="js-related-items related-items-content"></div>
        <button class="choose-btn js-close-overlay"><?= __('Wybierz'); ?></button>
    </div>
    <div class="js-footer-content-column footer-content-column hidden">
        <div class="js-step-footer-title step-footer-title">
            <span class="js-hide-footer-content hide-footer-content"><?= __('Ukryj akcesoria'); ?>
                <span class="chevron right"></span>
            </span>
            <?= __('Wybierz dodatkowe akcesoria'); ?>
        </div>
        <div class="js-step-accessories accessories-list"></div>
    </div>
    <div class="js-show-footer-content show-footer-content hidden">
        <span class="chevron left"></span>
        <span class="show-footer-content-text"><?= __('Pokaż akcesoria'); ?></span>
    </div>
</div>
<div class="step-navigation">
    <button class="js-show-previous-step previous-step">
        <span class="chevron left"></span><?= __('krok wstecz'); ?>
    </button>
    <div class="js-calculated-price calculated-price"></div>
    <button class="js-show-next-step next-step"><?= __('Dalej'); ?></button>
</div>
<div class="js-compare-table compare-table is-hidden">
    <h3 class="compare-table-title js-compare-table-title"><?= __('Tabela porównawcza'); ?></h3>
    <button class="js-compare-table-close compare-table-close close"></button>
    <div class="products-content compare">
        <div class="js-step-attribute-codes attributes-codes-list"></div>
        <div class="js-step-products-mobile products-list"></div>
    </div>
</div>
