<div class="step-container is-action-step" id="step_10">
    <div class="step-header">
        <div class="js-step-number-header step-number"></div>
        <div class="js-current-step-heading current-step"></div>
        <h2 class="header-main-title"><?= __('Wybierz do jakich zastosowań potrzebujesz agregatu') ?></h2>
        <span class="subtitle-note"><?= __('(wybierz dowolną ilość kategorii zastosowań)') ?></span>
    </div>
    <div class="step-content">
        <div class="js-alert alert is-hidden"></div>
        <div class="categories-list">
            <?php foreach ($steps["step_10"]["step_products"] as $product) { ?>

            <div class="category-item js-add-product" data-product-id="<?php echo $product["id"] ?>">
                <div class="category-item-wrap">
                    <div class="js-custom-checkbox custom-checkbox"></div>
                    <div class="item-img">
                        <img src="<?php echo $product["image"] ?>" alt="<?php echo $product["name"] ?>"/>
                    </div>
                    <div class="item-description">
                        <p class="title"><?php echo $product["name"] ?></p>
                        <p><?php echo $product["short_desc"] ?></p>
                    </div>
                </div>
            </div>

            <?php } ?>
        </div>
    </div>
    <div class="step-navigation">
        <div class="js-calculated-price calculated-price"></div>
        <button class="js-show-next-step next-step"><?= __('Dalej'); ?></button>
    </div>
</div>
