<div class="step-container is-action-step" id="summary_step">
    <div class="step-header">
        <div class="js-step-number-header step-number"></div>
        <h2 class="header-main-title"><?= __('Podsumowanie') ?></h2>
    </div>
    <div class="step-content">
        <div class="js-alert alert is-hidden"></div>
        <div class="js-summary-products summary-products"></div>
    </div>
    <div class="step-footer is-summary-footer">
        <div class="summary-actions">
            <form class="js-summary-add-to-cart-form" style="display: none" method="post" action="/product-configurator/addtocart/index">
                <input type="hidden" class="js-summary-add-to-cart-data" name="items">
            </form>
            <div class="summary-action-checkout">
                <button class="js-show-previous-step previous-step">
                    <span class="chevron left"></span><?= __('krok wstecz'); ?>
                </button>
                <div class="summary-action-buttons">
                    <button class="js-add-to-cart next-step is-add-to-cart"><?= __('Dodaj do koszyka') ?></button>
                    <button class="js-show-send-configuration-popup next-step is-add-to-cart"><?= __('Zapisz konfigurację') ?></button>
                </div>
                <div class="js-calculated-price calculated-price"></div>
            </div>
            <div class="summary-action-notification">
                <h3 class="action-notification-title"><?= __('Chcesz porozmawiać o swoim wyborze?') ?></h3>
                <div class="action-notification-input">
                    <input type="text" placeholder="<?= __('Podaj swój email lub telefon') ?>..." class="js-notification-email">
                    <div class="js-notification-error notification-error"></div>
                </div>
                <div class="action-notification-button">
                    <button class="js-send-notification next-step is-send-notification"><?= __('Wyślij') ?></button>
                </div>
            </div>
        </div>
        <div class="js-summary-actions-popup summary-actions-popup hidden">
            <div class="summary-actions-popup-content">
                <h3 class="action-send-configuration-title"><?= __('Zapis konfiguracji') ?></h3>
                <div class="action-send-configuration-input">
                    <input type="text" placeholder="<?= __('Podaj swój email') ?>..." class="js-send-configuration-email">
                    <div class="js-send-configuration-error send-configuration-error"></div>
                    </div>
                    <div class="action-send-configuration-button">
                        <button class="js-send-configuration next-step is-add-to-cart"><?= __('Wyślij') ?></button>
                    </div>
                <button class="js-hide-send-configuration-popup hide-send-configuration-popup">&#x2715;</button>
            </div>
        </div>
    </div>
</div>
