$infoColor: DodgerBlue;

.alert {
    position: relative;
    margin: 0 auto;
    @media (min-width: $breakpoint_tablet) {
        max-width: 900px;
    }
    .alert-content {
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $infoColor;
        border: 1px solid $infoColor;
        border-radius: 20px;
        background-color: #C7E3FF;
    }
    .info-icon {
        position: absolute;
        top: 6px;
        left: 6px;
        height: 30px;
        width: 30px;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid $infoColor;
        border-radius: 50%;
        text-align: center;
        color: $infoColor;
    }
    .alert-close {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 30px;
        height: 30px;
        border: 0;
        z-index: 1001;
        cursor: pointer;
        background: none;
        &::after,
        &::before {
            width: 2px;
            height: 30px;
            background-color: $infoColor;
        }
    }
    &.is-hidden {
        display: none;
    }
}
