.categories-list {
    margin: 0 auto;
    @media (min-width: $breakpoint_tablet) {
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;
        max-width: 900px;
    }
}

.category-item-wrap {
    display: flex;
    align-items: flex-start;
    min-height: 70px;
    padding: 0px 4px 4px 10px;
    border: 1px solid $light_gray;
    box-shadow: 0 0 1px $light_gray;
    border-radius: 18px;
    @media (min-width: $breakpoint_desktop) {
        height: 100%;
        min-height: auto;
        padding: 0 0 0 10px;
    }
    .custom-checkbox {
        margin: 14px 0 0 6px;
    }
    .item-description {
        margin-top: 14px;
        margin-left: 10px;
        font-size: 10px;
        line-height: 14px;
        @media (min-width: $breakpoint_small_phone) {
            font-size: 12px;
        }
        @media (min-width: $breakpoint_tablet) {
            margin-left: 6px;
            font-size: 10px;
        }
        @media (min-width: $breakpoint_desktop) {
            font-size: 14px;
        }
        p {
            margin: 0;
        }
        .title {
            margin-bottom: 2px;
        }
    }
    .item-img {
        display: none;
        @media (min-width: $breakpoint_tablet) {
            display: inline-block;
            width: 60px;
            max-width: 60px;
            margin-left: 6px;
        }
        @media (min-width: $breakpoint_desktop) {
            width: 75px;
            max-width: 75px;
        }
    }
}

.category-item {
    margin-bottom: 10px;
    @media (min-width: $breakpoint_tablet) {
        width: 50%;
        padding: 0 10px 10px 0;
        margin-bottom: 0;
    }
    &.is-chosen,
    &:hover {
        &:not(.is-disabled) {
            .category-item-wrap {
                border: 1px solid $agrekom_orange;
                box-shadow: 0 0 1px $agrekom_orange;
                cursor: pointer;
            }
        }
    }
    &.is-disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.item-description {
    max-width: 300px;
    .title {
        font-weight: bold;
    }
}
