.compare-table {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: white;
  z-index: 1000;

  &.is-hidden {
    display: none;
  }
  .compare-table-title {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: none;
    font-size: 24px;
  }
  .compare-table-close {
    position: fixed;
    top: 4px;
    right: 4px;
    border: 0;
    z-index: 1001;
    cursor: pointer;
    background: none;
  }
}

.products-content.compare {
  display: flex;
  margin: 120px auto 0;
  .attributes-codes-list {
    display: flex;
  }
  .products-list {
    display: flex;
    align-items: stretch;
    .product-item {
      position: relative;
      float: left;
      display: flex;
      flex-direction: column;
      width: 180px;
      height: calc(100% - 4px);
      padding: 0;
      margin: 0 1px;
      border: 0;
      background-color: white;
    }
  }
  .product-item-img {
    width: calc(100% - 8px);
    padding: 0;
    margin: 0 auto;
    img {
      width: 100%;
      max-width: 150px;
      border-radius: 10px;
    }
  }
  .product-item-attributes {
    display: block;
    align-self: end;
    width: calc(100% + 2px);
    .attribute-item {
      justify-content: center;
      text-align: center;
    }
  }
  .attributes-codes-list {
    width: 200px;
    padding: 0 0 0 10px;
    margin-right: 0;
    border-right: 0;
    text-transform: lowercase;
    .attribute-item {
      min-width: 150px;
      font-size: 10px;
    }
  }
  .attribute-item {
    height: auto;
    min-height: 40px;
    padding-right: 20px;
    font-size: 12px;
  }
}

.container-for-step_20 {
  .products-content.compare {
    .products-list {
      .product-item {
        &.no-attributes {
          display: none;
        }
      }
    }
  }
}
