.step-footer {
  @media (min-width: $breakpoint_tablet) {
    display: flex;
  }
  &:not(.is-summary-footer) {
    display: none;
    @media (min-width: $breakpoint_tablet) {
      display: flex;
    }
  }
  .step-footer-title {
    display: none;
    margin: 40px auto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    @media (min-width: $breakpoint_tablet) {
      position: relative;
      top: -20px;
      left: -20px;
      padding: 0;
      width: calc(100% + 40px);
      margin: 0;
    }
  }
  .hide-footer-content {
    display: block;
    background-color: $agrekom_orange;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: $light_gray;
      color: black;
    }
  }
  .left-column-title {
    margin-top: 100px;
    margin-bottom: 20px;
    @media (min-width: $breakpoint_tablet) {
      margin-top: 0;
      font-size: 24px;
    }
  }
}

.footer-left-column {
  @media (min-width: $breakpoint_tablet) {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 770px;
    height: 350px;
    padding: 20px;
    background-color: white;
    border: 1px solid $agrekom_orange;
    border-radius: 12px;
    z-index: 1000;
    box-shadow: 6px 6px 16px 0px #666;
    text-align: center;
  }
  &.hidden {
    @media (min-width: $breakpoint_tablet) {
      display: none;
    }
  }
  .related-item-img-holder {
    @media (min-width: $breakpoint_tablet) {
      display: none;
    }
  }
  .related-items-content {
    @media (min-width: $breakpoint_tablet) {
      width: 320px;
      margin: 0 auto;
    }
  }
}

.footer-left-column {
  button.choose-btn {
    display: none;
    font-size: 12px;
    padding: 12px 28px;
    margin: 20px 0 0;
    @media (min-width: $breakpoint_tablet) {
      display: inline-block;
    }
    &:hover {
      border: 1px solid $light_gray;
      background-color: $light_gray;
    }
  }
  .footer-left-column-title-img {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    background-image: url('../images/przewod_konfigurator.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.footer-overlay {
  display: none;
  @media (min-width: $breakpoint_tablet) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
    display: block;
    background-color: white;
    z-index: 998;
    opacity: 0.5;
  }

  &.hidden {
    @media (min-width: $breakpoint_tablet) {
      display: none;
      position: static;
      width: 0;
      height: 0;
    }
  }
}

.footer-content-column {
  @media (min-width: $breakpoint_tablet) {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 280px;
    padding: 20px;
    background-color: white;
    border: 1px solid $agrekom_orange;
    border-radius: 12px;
    z-index: 997;
    box-shadow: 6px 6px 16px 0px #666;
    text-align: center;
    overflow: hidden;
  }
  @media (min-width: $breakpoint_desktop) {
    width: 320px;
  }
  .accessories-list {
    @media (min-width: $breakpoint_tablet) {
      overflow-y: scroll;
      max-height: 66vh;
      display: block;
    }
  }
  .accessory-item {
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $light_gray;
  }
  .accessory-item-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    .choose-btn {
      @media (min-width: $breakpoint_tablet) {
        display: none;
      }
    }
  }
  &.hidden {
    display: none;
  }
}

.show-footer-content {
  @media (min-width: $breakpoint_tablet) {
    position: fixed;
    top: 200px;
    right: 0;
    width: 50px;
    height: 200px;
    padding: 20px;
    background-color: $agrekom_orange;
    border-radius: 12px;
    z-index: 997;
    box-shadow: 6px 6px 16px 0px #666;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  &:hover {
    background-color: $light_gray;
    color: black;
  }
  .show-footer-content-text {
    display: block;
    transform: rotate(-90deg) translateX(-66px) translateY(-96px);
    width: 200px;
  }
  &.hidden {
    display: none;
  }
}
