body.no-scroll {
  overflow: none;
}

.debug-info {
  width: 100%;
  padding: 20px;
  border: 1px dashed $light_gray;
  background-color: $light_gray_background;
  font-family: monospace;
  color: DarkSlateGrey;
  h4 {
    font-family: monospace;
    margin: 0;
  }
  button {
    display: inline-block;
    padding: 8px 18px;
    margin: 10px 0 0;
    border: 1px dashed DarkSlateGrey;
    outline: 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color: DarkSlateGrey;
    cursor: pointer;
    &:hover {
      background-color: DarkSlateGrey;
      color: white;
      border: 1px solid DarkSlateGrey;
    }
  }
}

.page-title-wrapper {
  display: none;
}

.page-wrapper {
  .cs-container,
  .columns .column.main {
    padding: 0;
  }
}

.step-container {
  width: 100%;
  color: #212121;
  padding: 0 10px 65px;
  @media (min-width: $breakpoint_tablet) {
    padding: 0 10px 140px;
  }
  @media (min-width: $breakpoint_desktop) {
    padding: 0 0 140px;
  }
  * {
    box-sizing: border-box;
  }
}

.header-left-column,
.footer-left-column {
  position: relative;
  display: block;
  width: calc(20% - 20px);
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #d4d4d4;
}

.header-content-column {
  @media (min-width: $breakpoint_tablet) {
    width: 80%;
  }
}

.custom-checkbox {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid $light_gray;
  &.is-checked {
    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 6px;
      display: inline-block;
      height: 18px;
      width: 11px;
      border-bottom: 3px solid black;
      border-right: 3px solid black;
      transform: rotate(45deg);
    }
  }
}

.is-chosen {
  .custom-checkbox:not(.add-accessory-mobile) {
    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 6px;
      display: inline-block;
      height: 18px;
      width: 11px;
      border-bottom: 3px solid black;
      border-right: 3px solid black;
      transform: rotate(45deg);
    }
  }
}

.custom-radio {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid $light_gray;
  border-radius: 50%;
  &.is-checked {
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      display: inline-block;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: #212121;
    }
  }
}

.is-chosen {
  .custom-radio {
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      display: inline-block;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: #212121;
    }
  }
}

button.choose-btn {
  display: inline-block;
  padding: 8px 18px;
  margin: 10px 0 0;
  border: 1px solid $agrekom_orange;
  border-radius: 40px;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: $text-grey;
  cursor: pointer;
  &:after {
    content: attr(data-text-choose);
  }
  &.hidden {
    display: none;
  }
}

.chevron::before {
  content: '';
  position: relative;
  top: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(-45deg);
}

.chevron.right::before {
  right: 0;
  transform: rotate(45deg);
}

.chevron.bottom::before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left::before {
  left: 0;
  transform: rotate(-135deg);
}

.close {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 40px;
    background-color: black;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
  }
  &::after {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
}

.change-related-btn {
  background-color: $light_gray;
  display: none;
  padding: 14px 20px;
  margin: 10px 0 0;
  border: 1px solid $light_gray;
  border-radius: 20px;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-grey;
  cursor: pointer;
  &:hover {
    background-color: $agrekom_orange;
    border: 1px solid $agrekom_orange;
    color: white;
  }
}
