.current-step {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: bold;
    text-align: center;
    @media (min-width: $breakpoint_tablet) {
        margin-bottom: 40px;
    }
}

.step-container {
    &.is-action-step {
        .current-step {
            display: none;
        }
        .step-header {
            margin-top: 20px;
            margin-bottom: 10px;
            @media (min-width: $breakpoint_tablet) {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    }
    &:not(.is-action-step) {
        .step-header {
            margin-top: 20px;
            margin-bottom: 10px;
            @media (min-width: $breakpoint_tablet) {
                display: flex;
                margin-top: 0;
                margin-bottom: 0;
            }
            .step-number {
                @media (min-width: $breakpoint_tablet) {
                    margin-top: 50px;
                }
            }
            .current-step {
                @media (min-width: $breakpoint_tablet) {
                    margin-top: 50px;
                }
            }
        }
    }
}

.step-header {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    .header-main-title {
        max-width: 500px;
        margin: 20px auto 4px;
        font-size: 22px;
        text-transform: none;
        @media (min-width: $breakpoint_tablet) {
            margin: 50px auto 4px;
            font-size: 26px;
        }
    }
    .subtitle-note {
        display: block;
        font-weight: lighter;
        font-size: 12px;
        line-height: 16px;
        color: $agrekom_orange;
        @media (min-width: $breakpoint_tablet) {
            font-size: 11px;
        }
    }
}

.step-number {
    h3 {
        margin: 0;
        font-weight: bold;
        font-size: 11px;
        line-height: 14px;
    }
    p {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
}

.header-left-column {
    .previous-step {
        position: absolute;
        top: 8px;
        left: 0;
        width: 102px;
        @media (min-width: $breakpoint_tablet) {
            display: none;
            top: 57px;
            left: 20px;
        }
    }
}

.show-compare-table {
    position: relative;
    width: 100%;
    padding: 7px 14px;
    margin: 0;
    border: 1px solid $agrekom_orange;
    border-radius: 10px;
    outline: 0;
    background-color: $agrekom_orange;
    color: white;
    cursor: pointer;
    @media (min-width: $breakpoint_tablet) {
        display: none;
    }
    .chevron {
        position: absolute;
        right: 20px;
        top: 7px;
        transform: scale(0.8);
    }
    &:hover {
        background-color: white;
        color: $agrekom_orange;
    }
}

.show-compare-btn-label {
    display: block;
    width: 100%;
    text-align: left;
}

.product_configurator-configure-items .cs-header__logo {
    padding: 10px 0px 0px 0px !important;
    display: block !important;
    text-align: center !important;
    height: 5% !important;
}
