.step-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    text-align: center;
    background-color: $light_gray_background;
    border-top: 1px solid $light_gray;
    z-index: 100;
    @media (min-width: $breakpoint_tablet) {
        justify-content: center;
        padding: 25px 0;
    }
}

.next-step {
    padding: 10px 50px;
    margin-left: 25px;
    background-color: $agrekom_orange;
    border-radius: 18px;
    border: 1px solid $agrekom_orange;
    outline: 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: $breakpoint_tablet) {
        padding: 16px 60px;
    }
    &:hover {
        background-color: white;
        color: $agrekom_orange;
    }
}

.calculated-price {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    p, div {
        margin: 0;
        text-align: left;
    }
    p {
        font-weight: lighter;
        &:first-child {
            margin-bottom: 2px;
            font-size: 15px;
            line-height: 15px;
        }
        &:last-child {
            font-size: 11px;
            line-height: 11px;
        }
    }
    div {
        font-size: 16px;
        line-height: 16px;
    }
}

.previous-step {
    display: inline-block;
    border: 0;
    outline: 0;
    background: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        color: $agrekom_orange;
    }
}

.step-navigation {
    .previous-step {
        display: none;
        margin-right: 50px;
        @media (min-width: $breakpoint_tablet) {
            display: inline-block;
        }
    }
}