.owl-carousel {
    .chevron {
        display: block;
        &::before {
            width: 30px;
            height: 30px;
            top: 2px;
            border-color: $agrekom_orange;
        }
        &.left::before {
            left: 4px;
        }
        &.right::before {
            right: 4px;
        }
    }
}

.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; 

    [class*='owl-'] {
        color: white;
        font-size: 14px;
        margin: 5px;
        padding: 4px 7px;
        background: #D6D6D6;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        &:hover {
            background: #f4f4f4;
            color: white;
            text-decoration: none;
        }
        &.disabled {
            opacity: 0.5;
            cursor: default; 
        }
    }
    .owl-prev {
        position: absolute;
        left: 0;
    }
    .owl-next {
        position: absolute;
        right: 0;
    }
    .owl-prev,
    .owl-next {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
