.attributes-codes-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: calc(20% - 20px);
  padding: 0 20px 0 10px;
  margin-right: 20px;
  border-right: 1px solid #cecece;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.attribute-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #cecece;
  &:last-child {
    border-bottom: 0;
  }
  p {
    display: inline-block;
    margin: 0;
  }
  // &.is-empty {
  //   border-bottom: 0;
  // }
}

.products-content {
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
  &:not(.compare) {
    .attributes-codes-list {
      display: none;
      @media (min-width: $breakpoint_tablet) {
        display: flex;
      }
    }
    .products-list {
      display: block;
      width: 100%;
      @media (min-width: $breakpoint_tablet) {
        width: 80%;
      }
      &:not(.slider-to-be-initialized) {
        @media (min-width: $breakpoint_tablet) {
          display: flex;
          align-items: stretch;
        }
        .product-item {
          @media (min-width: $breakpoint_tablet) {
            width: calc(33.33% - 2px);
          }
        }
      }
      .product-item {
        position: relative;
        padding: 10px;
        margin-bottom: 7px;
        border: 1px solid $light_gray;
        border-radius: 12px;
        cursor: pointer;
        background-color: white;
        @media (min-width: $breakpoint_tablet) {
          float: left;
          display: flex;
          flex-direction: column;
          width: calc(100% - 2px);
          height: calc(100% - 4px);
          padding: 0;
          margin: 2px 1px;
          border: 0;
        }
        &:hover,
        &.is-chosen {
          box-shadow: 0 0 0 2px $agrekom_orange;
        }
        &:hover {
          .product-item-button {
            button.choose-btn {
              border: 1px solid $light_gray;
              background-color: $light_gray;
            }
          }
        }
        &.is-chosen {
          .product-item-button {
            button.choose-btn {
              background-color: $agrekom_orange;
              border: 1px solid $agrekom_orange;
              &:after {
                content: attr(data-text-chosen);
              }
            }
          }
          &.show-change-related-button {
            .product-item-button {
              button.choose-btn {
                display: none;
              }
              button.change-related-btn {
                display: inline-block;
              }
            }
          }
        }
        &.is-already-chosen {
          box-shadow: 0 0 0 2px $light_gray;
          cursor: default;
          &:hover {
            box-shadow: 0 0 0 2px $light_gray;
          }
          .product-item-radio.is-chosen {
            opacity: 0.5;
          }
        }
        .related-items-content {
          @media (min-width: $breakpoint_tablet) {
            display: none;
          }
        }
      }
    }
    .product-item-img {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px;
      @media (min-width: $breakpoint_tablet) {
        position: static;
        width: calc(100% - 8px);
        padding: 0;
        margin: 0 auto;
      }
      img {
        width: 120px;
        @media (min-width: $breakpoint_tablet) {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
    .product-item-information {
      max-width: calc(100% - 154px);
      min-height: 107px;
      margin-left: 36px;
      @media (min-width: $breakpoint_tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        max-width: 100%;
        height: 120px;
        min-height: auto;
        padding: 0px 24px;
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
    .product-item-name {
      font-size: 16px;
      font-weight: bold;
      @media (min-width: $breakpoint_tablet) {
        text-align: center;
      }
    }
    .product-item-description {
      margin-bottom: 8px;
      font-size: 12px;
      @media (min-width: $breakpoint_tablet) {
        text-align: center;
      }
    }
    .product-item-price {
      font-size: 14px;
      font-weight: bold;
    }
    .product-item-attributes {
      display: none;
      @media (min-width: $breakpoint_tablet) {
        align-self: end;
        display: block;
        width: calc(100% + 2px);
      }
      .attribute-item {
        justify-content: center;
        text-align: center;
      }
    }
    .product-item-accessories-mobile {
      display: block;
      @media (min-width: $breakpoint_tablet) {
        display: none;
      }
    }
    .product-item-radio {
      position: absolute;
      top: 10px;
      left: 10px;
      @media (min-width: $breakpoint_tablet) {
        display: none;
      }
    }
    .product-item-button {
      display: none;
      @media (min-width: $breakpoint_tablet) {
        display: block;
        height: 57px;
        margin-bottom: 20px;
        text-align: center;
      }
      button.choose-btn {
        padding: 14px 30px;
        border-radius: 20px;
        font-size: 12px;
      }
    }
    .product-item-already-chosen {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      margin-top: 20px;
      border-radius: 6px;
      font-weight: bold;
      background-color: $light_gray;
      color: $text-grey;
      @media (min-width: $breakpoint_tablet) {
        justify-content: flex-start;
        height: 57px;
        padding: 0 10px;
        margin-top: 0;
        margin-bottom: 20px;
        border-radius: 0;
        text-align: center;
      }
    }
  }
}

.additional-accessories-title,
.related-items-mobile-title {
  display: block;
  margin-top: 14px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  @media (min-width: $breakpoint_tablet) {
    display: none;
  }
}

.related-items-mobile-title {
  display: none;
  &.is-visible {
    display: block;
    @media (min-width: $breakpoint_tablet) {
      display: none;
    }
  }
}

.accessory-item-mobile {
  padding: 10px;
  margin-top: 7px;
  border: 1px solid $light_gray;
  border-radius: 4px;
  .accessory-item-mobile-button {
    float: left;
    margin-right: 8px;
  }
  .accessory-item-mobile-title {
    display: inline-block;
    width: calc(100% - 40px);
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    text-transform: lowercase;
    p {
      margin: 0;
    }
  }
  .accessory-item-mobile-description {
    padding-left: 34px;
    font-size: 10px;
  }
}

.accessories-list {
  // &:not(.slider-to-be-initialized) {
  //     @media (min-width: $breakpoint_tablet) {
  //         display: flex;
  //         align-items: stretch;
  //     }
  // }
  .accessory-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    @media (min-width: $breakpoint_tablet) {
      height: 200px;
    }
    .item-image {
      height: 100px;
    }
    .accessory-item-img {
      img {
        display: block;
        width: auto;
        margin: 0 auto;
      }
    }
    .accessory-item-title {
      padding: 0 20px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
    .accessory-item-price {
      margin-top: 10px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
    .accessory-item-button {
      text-align: center;
    }
    .accessory-item-description {
      text-align: center;
    }
    &:hover {
      .accessory-item-button {
        button {
          border: 1px solid $light_gray;
          background-color: $light_gray;
        }
      }
    }
    &.is-chosen {
      .accessory-item-button {
        button {
          background-color: $agrekom_orange;
          border: 1px solid $agrekom_orange;
          &:after {
            content: attr(data-text-chosen);
          }
        }
      }
    }
  }
}

.related-items-select {
  appearance: none;
  width: 100%;
  padding: 8px 20px 8px 8px;
  border: 1px solid $light_gray;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  &.is-mobile {
    margin-top: 7px;
    border-radius: 4px;
  }
}
