.summary-products,
.summary-actions {
  margin: 10px auto 0;
  @media (min-width: $breakpoint_tablet) {
    width: 90%;
  }
  @media (min-width: $breakpoint_desktop) {
    width: 800px;
  }
}
.summary-products {
  margin: 50px auto 0;
  @media (min-width: $breakpoint_tablet) {
    width: 90%;
  }
  @media (min-width: $breakpoint_desktop) {
    width: 800px;
  }
  .summary-item {
    min-height: 120px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color_grey_summary;
  }
  .summary-single-product {
    position: relative;
    padding-left: 104px;
    @media (min-width: $breakpoint_tablet) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;
    }
  }
  .summary-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    text-align: center;
    @media (min-width: $breakpoint_tablet) {
      position: static;
      width: 160px;
    }
    img {
      width: 100px;
      @media (min-width: $breakpoint_tablet) {
        width: 160px;
      }
    }
  }
  .summary-item-description {
    @media (min-width: $breakpoint_tablet) {
      width: 320px;
      padding-left: 40px;
    }
    @media (min-width: $breakpoint_desktop) {
      width: 440px;
    }
    p {
      margin: 0;
    }
  }
  .summary-item-name {
    padding: 0 20px 0 0;
    @media (min-width: $breakpoint_tablet) {
      padding: 0 80px 0 0;
    }
  }
  .summary-item-name,
  .summary-item-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    @media (min-width: $breakpoint_tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .summary-item-price {
    display: none;
    @media (min-width: $breakpoint_tablet) {
      display: block;
      padding-left: 40px;
    }
  }
  .summary-single-product.is-accessory {
    .summary-item-name,
    .summary-item-price {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 10px;
      @media (min-width: $breakpoint_tablet) {
        font-weight: bold;
        font-size: 12px;
      }
    }
    .summary-item-price {
      display: block;
      font-weight: bold;
    }
    .summary-item-img {
      display: none;
      @media (min-width: $breakpoint_tablet) {
        display: block;
      }
      img {
        width: 100px;
      }
    }
  }
  .summary-item-description-short {
    font-weight: normal;
    font-size: 12px;
  }
  .summary-item-subtitle {
    display: block;
    padding-left: 104px;
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    @media (min-width: $breakpoint_tablet) {
      padding-left: 0;
      margin: 0 0 0 200px;
    }
  }
  .summary-products-price-mobile {
    padding-left: 104px;
    margin-top: 10px;
    @media (min-width: $breakpoint_tablet) {
      display: none;
    }
    .summary-item-price {
      display: block;
    }
  }
}
.summary-action-checkout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  @media (min-width: $breakpoint_tablet) {
    flex-direction: row;
  }
  button.is-add-to-cart {
    padding: 16px 44px;
    margin-left: 0;
    border-radius: 30px;
    order: 3;
    @media (min-width: $breakpoint_tablet) {
      order: initial;
    }
  }
  button.previous-step {
    margin-bottom: 20px;
    order: 2;
    @media (min-width: $breakpoint_tablet) {
      margin-bottom: 0;
      order: initial;
    }
  }
  .calculated-price {
    width: auto;
    margin-bottom: 20px;
    order: 1;
    align-self: start;
    @media (min-width: $breakpoint_tablet) {
      margin-bottom: 0;
      order: initial;
      align-self: auto;
    }
    p:first-child {
      margin-right: 6px;
    }
    p:first-child,
    div {
      display: inline-block;
      font-size: 22px;
      text-transform: uppercase;
    }
    p:last-child {
      font-size: 16px;
      text-align: right;
    }
  }
  .summary-action-buttons {
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $breakpoint_tablet) {
      margin-bottom: 0;
    }
    button {
      width: 250px;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
.summary-action-notification,
.summary-actions-popup {
  margin-top: 80px;
  .action-notification-button,
  .action-send-configuration-button {
    text-align: center;
    margin-top: 20px;
    button.is-send-notification,
    button.is-send-configuration {
      padding: 16px 60px;
      margin-left: 0;
      border-radius: 30px;
      border-color: $light_gray;
      background-color: $light_gray;
      color: $text-grey;
      @media (min-width: $breakpoint_tablet) {
        padding: 12px 64px;
      }
      &:hover {
        border-color: $text-grey;
        background-color: white;
        color: $text-grey;
      }
    }
  }
}
.action-notification-title,
.action-send-configuration-title {
  margin: 0 0 10px;
  font-size: 15px;
  text-align: center;
  text-transform: none;
}
.action-notification-input,
.action-send-configuration-input {
  text-align: center;
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid $light_gray;
    @media (min-width: $breakpoint_phone_big) {
      width: 320px;
    }
  }
}
.notification-error,
.send-configuration-error {
  margin-top: 4px;
  font-size: 12px;
  color: red;
  text-transform: lowercase;
}
.summary-actions-popup {
  position: fixed;
  top: -80px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .summary-actions-popup-content {
    position: relative;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid $agrekom_orange;
    background-color: white;
    box-shadow: 6px 6px 16px 0px #666;
    @media (min-width: $breakpoint_tablet) {
      padding: 40px 200px;
    }
  }
  &.hidden {
    display: none;
  }
  .hide-send-configuration-popup {
    font-size: 24px;
    padding: 0 4px;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }
}
