/* configurator scss variables */
$breakpoint_small_phone: 360px;
$breakpoint_phone_big: 450px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1024px;

$agrekom_orange: #f28f19;
$light_gray: #d4d4d4;
$light_gray_background: #f7f7f7;
$text-grey: #333;
$color_grey_summary: #eaeaea;
