<?php
/** @var \Agrekom\ProductConfigurator\Block\Configure\Items\Steps $block */
?>
<?php $steps = $block->prepareSteps() ?>
<?php if (!$steps) : ?>
    <p><?= __('missing_steps_message') ?></p>
<?php else : ?>
    <?php //dump($steps); ?>
    <?php //echo $this->getGroupsByWorks(); ?>
    <?php
        $summaryStepMockupData = '';
        $showDebugInfo = false;
        $jsonSummaryStepMockupData = file_get_contents('summary_mockup_data.json', true);
        if ($jsonSummaryStepMockupData !== false) {
            $summaryStepMockupData = $jsonSummaryStepMockupData;
        }
        if (isset($_GET['showDebugInfo']) && $_GET['showDebugInfo'] === 'true') {
            $showDebugInfo = true;
        }
    ?>
    <script>
        var stepsJsonData = JSON.parse('<?= json_encode($steps); ?>'),
            translations = {
                languageShortCode: '<?= __('pl-PL'); ?>',
                currencyCode: '<?= $this->helper('Agrekom\ProductConfigurator\Helper\Currency')->renderCurrencyCode() ?>',
                choose: '<?= __('Wybierz'); ?>',
                chosen: '<?= __('Wybrany'); ?>',
                vatInfo: '<?= $this->helper('Agrekom\ProductConfigurator\Helper\PriceSummaryText')->render() ?>',
                sum: '<?= __('suma'); ?>',
                step: '<?= __('Krok'); ?>',
                next: '<?= __('Dalej'); ?>',
                back: '<?= __('wróć'); ?>',
                additional_accessories: '<?= __('Dodatkowe akcesoria'); ?>',
                accessories: '<?= __('Akcesoria'); ?>',
                alertChooseMultiple: '<?= __('Proszę wybrać conajmniej jedną pozycję'); ?>',
                alertChooseSingle: '<?= __('Proszę wybrać jeden produkt'); ?>',
                relatedItemsMobileTitle: '<?= __('Wybierz przewody'); ?>',
                related: '<?= __('Przewody'); ?>',
                pleaseProvideEmailOrPhone: '<?= __('Proszę podać adres email lub numer telefonu'); ?>',
                pleaseProvideEmail: '<?= __('Proszę podać adres email'); ?>',
                invalidEmail: '<?= __('Nieprawidłowy adres email'); ?>',
                notificationSent: '<?= __('Wiadomość wysłana'); ?>',
                productAlreadyChosen: '<?= __('Produkt został wybrany we wcześniejszym kroku'); ?>',
                comparisonTableTitle: '<?= __('Comparision table') ?>',
                comparisonTableBtn: '<?= __('Check comparison table') ?>',
                technicalSpecificationsTitle: '<?= __('Technical Specifications') ?>',
                technicalSpecificationsBtn: '<?= __('Check technical specifications') ?>',
                changeRelated: '<?= __('Zmień wybrany przewód') ?>'
            },
            showDebugInfo = <?= json_encode($showDebugInfo) ?>,
            mockupSwitch = false,
            summaryStepMockupData = <?= $summaryStepMockupData ?>;

    </script>

<?php endif; ?>

<div id="configurator-steps-templates" style="display: none;">
<?php
    foreach ($steps as $stepKey => $step) {
        if ($step['step_page_layout'] == 'purpose') {
            require_once('steps_layout/purpose.phtml');
        } elseif ($step['step_page_layout'] == 'summary') {
            require_once('steps_layout/summary.phtml');
        } else {
            echo '<div class="step-container" id="' . $stepKey . '">';
            require('steps_layout/common_layout.phtml');
            echo '</div>';
        }
    }
?>
</div>

<?php if ($showDebugInfo !== false) { ?>
    <div class="debug-info">
        <h4>DEBUG BAR:</h4>
        <button class="js-mockup-switch">&#x2717; MOCKUP SWITCH</button>
        <button class="js-show-last-step">SUMMARY</button>
        <button class="js-show-if-next-step-is-valid">FIND NEXT VALID STEP + ALL STEPS DEPENDENT</button>
        <div class="debug-info-print"></div>
    </div>
<?php } ?>

<div id="configurator-app"></div>
