/* configurator scss variables */
body.no-scroll {
  overflow: none;
}

.debug-info {
  width: 100%;
  padding: 20px;
  border: 1px dashed #d4d4d4;
  background-color: #f7f7f7;
  font-family: monospace;
  color: DarkSlateGrey;
}
.debug-info h4 {
  font-family: monospace;
  margin: 0;
}
.debug-info button {
  display: inline-block;
  padding: 8px 18px;
  margin: 10px 0 0;
  border: 1px dashed DarkSlateGrey;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: DarkSlateGrey;
  cursor: pointer;
}
.debug-info button:hover {
  background-color: DarkSlateGrey;
  color: white;
  border: 1px solid DarkSlateGrey;
}

.page-title-wrapper {
  display: none;
}

.page-wrapper .cs-container,
.page-wrapper .columns .column.main {
  padding: 0;
}

.step-container {
  width: 100%;
  color: #212121;
  padding: 0 10px 65px;
}
@media (min-width: 768px) {
  .step-container {
    padding: 0 10px 140px;
  }
}
@media (min-width: 1024px) {
  .step-container {
    padding: 0 0 140px;
  }
}
.step-container * {
  box-sizing: border-box;
}

.header-left-column,
.footer-left-column {
  position: relative;
  display: block;
  width: calc(20% - 20px);
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #d4d4d4;
}

@media (min-width: 768px) {
  .header-content-column {
    width: 80%;
  }
}

.custom-checkbox {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid #d4d4d4;
}
.custom-checkbox.is-checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  display: inline-block;
  height: 18px;
  width: 11px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}

.is-chosen .custom-checkbox:not(.add-accessory-mobile)::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  display: inline-block;
  height: 18px;
  width: 11px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}

.custom-radio {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
}
.custom-radio.is-checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #212121;
}

.is-chosen .custom-radio::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #212121;
}

button.choose-btn {
  display: inline-block;
  padding: 8px 18px;
  margin: 10px 0 0;
  border: 1px solid #f28f19;
  border-radius: 40px;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: #333;
  cursor: pointer;
}
button.choose-btn:after {
  content: attr(data-text-choose);
}
button.choose-btn.hidden {
  display: none;
}

.chevron::before {
  content: "";
  position: relative;
  top: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(-45deg);
}

.chevron.right::before {
  right: 0;
  transform: rotate(45deg);
}

.chevron.bottom::before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left::before {
  left: 0;
  transform: rotate(-135deg);
}

.close {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.close::before, .close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 40px;
  background-color: black;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: "";
}
.close::after {
  transform: rotate(-45deg) translate(-50%, -50%);
}

.change-related-btn {
  background-color: #d4d4d4;
  display: none;
  padding: 14px 20px;
  margin: 10px 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
}
.change-related-btn:hover {
  background-color: #f28f19;
  border: 1px solid #f28f19;
  color: white;
}

.current-step {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
  .current-step {
    margin-bottom: 40px;
  }
}

.step-container.is-action-step .current-step {
  display: none;
}
.step-container.is-action-step .step-header {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .step-container.is-action-step .step-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.step-container:not(.is-action-step) .step-header {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .step-container:not(.is-action-step) .step-header {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .step-container:not(.is-action-step) .step-header .step-number {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .step-container:not(.is-action-step) .step-header .current-step {
    margin-top: 50px;
  }
}

.step-header {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.step-header .header-main-title {
  max-width: 500px;
  margin: 20px auto 4px;
  font-size: 22px;
  text-transform: none;
}
@media (min-width: 768px) {
  .step-header .header-main-title {
    margin: 50px auto 4px;
    font-size: 26px;
  }
}
.step-header .subtitle-note {
  display: block;
  font-weight: lighter;
  font-size: 12px;
  line-height: 16px;
  color: #f28f19;
}
@media (min-width: 768px) {
  .step-header .subtitle-note {
    font-size: 11px;
  }
}

.step-number h3 {
  margin: 0;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
}
.step-number p {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.header-left-column .previous-step {
  position: absolute;
  top: 8px;
  left: 0;
  width: 102px;
}
@media (min-width: 768px) {
  .header-left-column .previous-step {
    display: none;
    top: 57px;
    left: 20px;
  }
}

.show-compare-table {
  position: relative;
  width: 100%;
  padding: 7px 14px;
  margin: 0;
  border: 1px solid #f28f19;
  border-radius: 10px;
  outline: 0;
  background-color: #f28f19;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  .show-compare-table {
    display: none;
  }
}
.show-compare-table .chevron {
  position: absolute;
  right: 20px;
  top: 7px;
  transform: scale(0.8);
}
.show-compare-table:hover {
  background-color: white;
  color: #f28f19;
}

.show-compare-btn-label {
  display: block;
  width: 100%;
  text-align: left;
}

.product_configurator-configure-items .cs-header__logo {
  padding: 10px 0px 0px 0px !important;
  display: block !important;
  text-align: center !important;
  height: 5% !important;
}

@media (min-width: 768px) {
  .step-footer {
    display: flex;
  }
}
.step-footer:not(.is-summary-footer) {
  display: none;
}
@media (min-width: 768px) {
  .step-footer:not(.is-summary-footer) {
    display: flex;
  }
}
.step-footer .step-footer-title {
  display: none;
  margin: 40px auto;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
  .step-footer .step-footer-title {
    position: relative;
    top: -20px;
    left: -20px;
    padding: 0;
    width: calc(100% + 40px);
    margin: 0;
  }
}
.step-footer .hide-footer-content {
  display: block;
  background-color: #f28f19;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 10px;
  margin-bottom: 12px;
  color: white;
  cursor: pointer;
}
.step-footer .hide-footer-content:hover {
  background-color: #d4d4d4;
  color: black;
}
.step-footer .left-column-title {
  margin-top: 100px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .step-footer .left-column-title {
    margin-top: 0;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .footer-left-column {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 770px;
    height: 350px;
    padding: 20px;
    background-color: white;
    border: 1px solid #f28f19;
    border-radius: 12px;
    z-index: 1000;
    box-shadow: 6px 6px 16px 0px #666;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer-left-column.hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer-left-column .related-item-img-holder {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer-left-column .related-items-content {
    width: 320px;
    margin: 0 auto;
  }
}

.footer-left-column button.choose-btn {
  display: none;
  font-size: 12px;
  padding: 12px 28px;
  margin: 20px 0 0;
}
@media (min-width: 768px) {
  .footer-left-column button.choose-btn {
    display: inline-block;
  }
}
.footer-left-column button.choose-btn:hover {
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
}
.footer-left-column .footer-left-column-title-img {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  background-image: url("../images/przewod_konfigurator.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-overlay {
  display: none;
}
@media (min-width: 768px) {
  .footer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
    display: block;
    background-color: white;
    z-index: 998;
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  .footer-overlay.hidden {
    display: none;
    position: static;
    width: 0;
    height: 0;
  }
}

@media (min-width: 768px) {
  .footer-content-column {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 280px;
    padding: 20px;
    background-color: white;
    border: 1px solid #f28f19;
    border-radius: 12px;
    z-index: 997;
    box-shadow: 6px 6px 16px 0px #666;
    text-align: center;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  .footer-content-column {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .footer-content-column .accessories-list {
    overflow-y: scroll;
    max-height: 66vh;
    display: block;
  }
}
.footer-content-column .accessory-item {
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
}
.footer-content-column .accessory-item-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .footer-content-column .accessory-item-button .choose-btn {
    display: none;
  }
}
.footer-content-column.hidden {
  display: none;
}

@media (min-width: 768px) {
  .show-footer-content {
    position: fixed;
    top: 200px;
    right: 0;
    width: 50px;
    height: 200px;
    padding: 20px;
    background-color: #f28f19;
    border-radius: 12px;
    z-index: 997;
    box-shadow: 6px 6px 16px 0px #666;
    text-align: center;
    color: white;
    cursor: pointer;
  }
}
.show-footer-content:hover {
  background-color: #d4d4d4;
  color: black;
}
.show-footer-content .show-footer-content-text {
  display: block;
  transform: rotate(-90deg) translateX(-66px) translateY(-96px);
  width: 200px;
}
.show-footer-content.hidden {
  display: none;
}

.categories-list {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .categories-list {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    max-width: 900px;
  }
}

.category-item-wrap {
  display: flex;
  align-items: flex-start;
  min-height: 70px;
  padding: 0px 4px 4px 10px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 0 1px #d4d4d4;
  border-radius: 18px;
}
@media (min-width: 1024px) {
  .category-item-wrap {
    height: 100%;
    min-height: auto;
    padding: 0 0 0 10px;
  }
}
.category-item-wrap .custom-checkbox {
  margin: 14px 0 0 6px;
}
.category-item-wrap .item-description {
  margin-top: 14px;
  margin-left: 10px;
  font-size: 10px;
  line-height: 14px;
}
@media (min-width: 360px) {
  .category-item-wrap .item-description {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .category-item-wrap .item-description {
    margin-left: 6px;
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  .category-item-wrap .item-description {
    font-size: 14px;
  }
}
.category-item-wrap .item-description p {
  margin: 0;
}
.category-item-wrap .item-description .title {
  margin-bottom: 2px;
}
.category-item-wrap .item-img {
  display: none;
}
@media (min-width: 768px) {
  .category-item-wrap .item-img {
    display: inline-block;
    width: 60px;
    max-width: 60px;
    margin-left: 6px;
  }
}
@media (min-width: 1024px) {
  .category-item-wrap .item-img {
    width: 75px;
    max-width: 75px;
  }
}

.category-item {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .category-item {
    width: 50%;
    padding: 0 10px 10px 0;
    margin-bottom: 0;
  }
}
.category-item.is-chosen:not(.is-disabled) .category-item-wrap, .category-item:hover:not(.is-disabled) .category-item-wrap {
  border: 1px solid #f28f19;
  box-shadow: 0 0 1px #f28f19;
  cursor: pointer;
}
.category-item.is-disabled {
  opacity: 0.5;
  cursor: default;
}

.item-description {
  max-width: 300px;
}
.item-description .title {
  font-weight: bold;
}

.step-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #d4d4d4;
  z-index: 100;
}
@media (min-width: 768px) {
  .step-navigation {
    justify-content: center;
    padding: 25px 0;
  }
}

.next-step {
  padding: 10px 50px;
  margin-left: 25px;
  background-color: #f28f19;
  border-radius: 18px;
  border: 1px solid #f28f19;
  outline: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .next-step {
    padding: 16px 60px;
  }
}
.next-step:hover {
  background-color: white;
  color: #f28f19;
}

.calculated-price {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}
.calculated-price p, .calculated-price div {
  margin: 0;
  text-align: left;
}
.calculated-price p {
  font-weight: lighter;
}
.calculated-price p:first-child {
  margin-bottom: 2px;
  font-size: 15px;
  line-height: 15px;
}
.calculated-price p:last-child {
  font-size: 11px;
  line-height: 11px;
}
.calculated-price div {
  font-size: 16px;
  line-height: 16px;
}

.previous-step {
  display: inline-block;
  border: 0;
  outline: 0;
  background: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.previous-step:hover {
  color: #f28f19;
}

.step-navigation .previous-step {
  display: none;
  margin-right: 50px;
}
@media (min-width: 768px) {
  .step-navigation .previous-step {
    display: inline-block;
  }
}

.attributes-codes-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: calc(20% - 20px);
  padding: 0 20px 0 10px;
  margin-right: 20px;
  border-right: 1px solid #cecece;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.attribute-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #cecece;
}
.attribute-item:last-child {
  border-bottom: 0;
}
.attribute-item p {
  display: inline-block;
  margin: 0;
}

.products-content {
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
}
.products-content:not(.compare) .attributes-codes-list {
  display: none;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .attributes-codes-list {
    display: flex;
  }
}
.products-content:not(.compare) .products-list {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .products-list {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .products-content:not(.compare) .products-list:not(.slider-to-be-initialized) {
    display: flex;
    align-items: stretch;
  }
}
@media (min-width: 768px) {
  .products-content:not(.compare) .products-list:not(.slider-to-be-initialized) .product-item {
    width: calc(33.33% - 2px);
  }
}
.products-content:not(.compare) .products-list .product-item {
  position: relative;
  padding: 10px;
  margin-bottom: 7px;
  border: 1px solid #d4d4d4;
  border-radius: 12px;
  cursor: pointer;
  background-color: white;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .products-list .product-item {
    float: left;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2px);
    height: calc(100% - 4px);
    padding: 0;
    margin: 2px 1px;
    border: 0;
  }
}
.products-content:not(.compare) .products-list .product-item:hover, .products-content:not(.compare) .products-list .product-item.is-chosen {
  box-shadow: 0 0 0 2px #f28f19;
}
.products-content:not(.compare) .products-list .product-item:hover .product-item-button button.choose-btn {
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
}
.products-content:not(.compare) .products-list .product-item.is-chosen .product-item-button button.choose-btn {
  background-color: #f28f19;
  border: 1px solid #f28f19;
}
.products-content:not(.compare) .products-list .product-item.is-chosen .product-item-button button.choose-btn:after {
  content: attr(data-text-chosen);
}
.products-content:not(.compare) .products-list .product-item.is-chosen.show-change-related-button .product-item-button button.choose-btn {
  display: none;
}
.products-content:not(.compare) .products-list .product-item.is-chosen.show-change-related-button .product-item-button button.change-related-btn {
  display: inline-block;
}
.products-content:not(.compare) .products-list .product-item.is-already-chosen {
  box-shadow: 0 0 0 2px #d4d4d4;
  cursor: default;
}
.products-content:not(.compare) .products-list .product-item.is-already-chosen:hover {
  box-shadow: 0 0 0 2px #d4d4d4;
}
.products-content:not(.compare) .products-list .product-item.is-already-chosen .product-item-radio.is-chosen {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .products-list .product-item .related-items-content {
    display: none;
  }
}
.products-content:not(.compare) .product-item-img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-img {
    position: static;
    width: calc(100% - 8px);
    padding: 0;
    margin: 0 auto;
  }
}
.products-content:not(.compare) .product-item-img img {
  width: 120px;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-img img {
    width: 100%;
    border-radius: 10px;
  }
}
.products-content:not(.compare) .product-item-information {
  max-width: calc(100% - 154px);
  min-height: 107px;
  margin-left: 36px;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    height: 120px;
    min-height: auto;
    padding: 0px 24px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.products-content:not(.compare) .product-item-name {
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-name {
    text-align: center;
  }
}
.products-content:not(.compare) .product-item-description {
  margin-bottom: 8px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-description {
    text-align: center;
  }
}
.products-content:not(.compare) .product-item-price {
  font-size: 14px;
  font-weight: bold;
}
.products-content:not(.compare) .product-item-attributes {
  display: none;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-attributes {
    align-self: end;
    display: block;
    width: calc(100% + 2px);
  }
}
.products-content:not(.compare) .product-item-attributes .attribute-item {
  justify-content: center;
  text-align: center;
}
.products-content:not(.compare) .product-item-accessories-mobile {
  display: block;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-accessories-mobile {
    display: none;
  }
}
.products-content:not(.compare) .product-item-radio {
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-radio {
    display: none;
  }
}
.products-content:not(.compare) .product-item-button {
  display: none;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-button {
    display: block;
    height: 57px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.products-content:not(.compare) .product-item-button button.choose-btn {
  padding: 14px 30px;
  border-radius: 20px;
  font-size: 12px;
}
.products-content:not(.compare) .product-item-already-chosen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #d4d4d4;
  color: #333;
}
@media (min-width: 768px) {
  .products-content:not(.compare) .product-item-already-chosen {
    justify-content: flex-start;
    height: 57px;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 0;
    text-align: center;
  }
}

.additional-accessories-title,
.related-items-mobile-title {
  display: block;
  margin-top: 14px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-accessories-title,
  .related-items-mobile-title {
    display: none;
  }
}

.related-items-mobile-title {
  display: none;
}
.related-items-mobile-title.is-visible {
  display: block;
}
@media (min-width: 768px) {
  .related-items-mobile-title.is-visible {
    display: none;
  }
}

.accessory-item-mobile {
  padding: 10px;
  margin-top: 7px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
.accessory-item-mobile .accessory-item-mobile-button {
  float: left;
  margin-right: 8px;
}
.accessory-item-mobile .accessory-item-mobile-title {
  display: inline-block;
  width: calc(100% - 40px);
  margin-top: 6px;
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
}
.accessory-item-mobile .accessory-item-mobile-title p {
  margin: 0;
}
.accessory-item-mobile .accessory-item-mobile-description {
  padding-left: 34px;
  font-size: 10px;
}

.accessories-list .accessory-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
@media (min-width: 768px) {
  .accessories-list .accessory-item {
    height: 200px;
  }
}
.accessories-list .accessory-item .item-image {
  height: 100px;
}
.accessories-list .accessory-item .accessory-item-img img {
  display: block;
  width: auto;
  margin: 0 auto;
}
.accessories-list .accessory-item .accessory-item-title {
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.accessories-list .accessory-item .accessory-item-price {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.accessories-list .accessory-item .accessory-item-button {
  text-align: center;
}
.accessories-list .accessory-item .accessory-item-description {
  text-align: center;
}
.accessories-list .accessory-item:hover .accessory-item-button button {
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
}
.accessories-list .accessory-item.is-chosen .accessory-item-button button {
  background-color: #f28f19;
  border: 1px solid #f28f19;
}
.accessories-list .accessory-item.is-chosen .accessory-item-button button:after {
  content: attr(data-text-chosen);
}

.related-items-select {
  appearance: none;
  width: 100%;
  padding: 8px 20px 8px 8px;
  border: 1px solid #d4d4d4;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
}
.related-items-select.is-mobile {
  margin-top: 7px;
  border-radius: 4px;
}

.compare-table {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: white;
  z-index: 1000;
}
.compare-table.is-hidden {
  display: none;
}
.compare-table .compare-table-title {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: none;
  font-size: 24px;
}
.compare-table .compare-table-close {
  position: fixed;
  top: 4px;
  right: 4px;
  border: 0;
  z-index: 1001;
  cursor: pointer;
  background: none;
}

.products-content.compare {
  display: flex;
  margin: 120px auto 0;
}
.products-content.compare .attributes-codes-list {
  display: flex;
}
.products-content.compare .products-list {
  display: flex;
  align-items: stretch;
}
.products-content.compare .products-list .product-item {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: calc(100% - 4px);
  padding: 0;
  margin: 0 1px;
  border: 0;
  background-color: white;
}
.products-content.compare .product-item-img {
  width: calc(100% - 8px);
  padding: 0;
  margin: 0 auto;
}
.products-content.compare .product-item-img img {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
}
.products-content.compare .product-item-attributes {
  display: block;
  align-self: end;
  width: calc(100% + 2px);
}
.products-content.compare .product-item-attributes .attribute-item {
  justify-content: center;
  text-align: center;
}
.products-content.compare .attributes-codes-list {
  width: 200px;
  padding: 0 0 0 10px;
  margin-right: 0;
  border-right: 0;
  text-transform: lowercase;
}
.products-content.compare .attributes-codes-list .attribute-item {
  min-width: 150px;
  font-size: 10px;
}
.products-content.compare .attribute-item {
  height: auto;
  min-height: 40px;
  padding-right: 20px;
  font-size: 12px;
}

.container-for-step_20 .products-content.compare .products-list .product-item.no-attributes {
  display: none;
}

.summary-products,
.summary-actions {
  margin: 10px auto 0;
}
@media (min-width: 768px) {
  .summary-products,
  .summary-actions {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .summary-products,
  .summary-actions {
    width: 800px;
  }
}

.summary-products {
  margin: 50px auto 0;
}
@media (min-width: 768px) {
  .summary-products {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .summary-products {
    width: 800px;
  }
}
.summary-products .summary-item {
  min-height: 120px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.summary-products .summary-single-product {
  position: relative;
  padding-left: 104px;
}
@media (min-width: 768px) {
  .summary-products .summary-single-product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
  }
}
.summary-products .summary-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  text-align: center;
}
@media (min-width: 768px) {
  .summary-products .summary-item-img {
    position: static;
    width: 160px;
  }
}
.summary-products .summary-item-img img {
  width: 100px;
}
@media (min-width: 768px) {
  .summary-products .summary-item-img img {
    width: 160px;
  }
}
@media (min-width: 768px) {
  .summary-products .summary-item-description {
    width: 320px;
    padding-left: 40px;
  }
}
@media (min-width: 1024px) {
  .summary-products .summary-item-description {
    width: 440px;
  }
}
.summary-products .summary-item-description p {
  margin: 0;
}
.summary-products .summary-item-name {
  padding: 0 20px 0 0;
}
@media (min-width: 768px) {
  .summary-products .summary-item-name {
    padding: 0 80px 0 0;
  }
}
.summary-products .summary-item-name,
.summary-products .summary-item-price {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .summary-products .summary-item-name,
  .summary-products .summary-item-price {
    font-size: 16px;
    line-height: 20px;
  }
}
.summary-products .summary-item-price {
  display: none;
}
@media (min-width: 768px) {
  .summary-products .summary-item-price {
    display: block;
    padding-left: 40px;
  }
}
.summary-products .summary-single-product.is-accessory .summary-item-name,
.summary-products .summary-single-product.is-accessory .summary-item-price {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 10px;
}
@media (min-width: 768px) {
  .summary-products .summary-single-product.is-accessory .summary-item-name,
  .summary-products .summary-single-product.is-accessory .summary-item-price {
    font-weight: bold;
    font-size: 12px;
  }
}
.summary-products .summary-single-product.is-accessory .summary-item-price {
  display: block;
  font-weight: bold;
}
.summary-products .summary-single-product.is-accessory .summary-item-img {
  display: none;
}
@media (min-width: 768px) {
  .summary-products .summary-single-product.is-accessory .summary-item-img {
    display: block;
  }
}
.summary-products .summary-single-product.is-accessory .summary-item-img img {
  width: 100px;
}
.summary-products .summary-item-description-short {
  font-weight: normal;
  font-size: 12px;
}
.summary-products .summary-item-subtitle {
  display: block;
  padding-left: 104px;
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .summary-products .summary-item-subtitle {
    padding-left: 0;
    margin: 0 0 0 200px;
  }
}
.summary-products .summary-products-price-mobile {
  padding-left: 104px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .summary-products .summary-products-price-mobile {
    display: none;
  }
}
.summary-products .summary-products-price-mobile .summary-item-price {
  display: block;
}

.summary-action-checkout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}
@media (min-width: 768px) {
  .summary-action-checkout {
    flex-direction: row;
  }
}
.summary-action-checkout button.is-add-to-cart {
  padding: 16px 44px;
  margin-left: 0;
  border-radius: 30px;
  order: 3;
}
@media (min-width: 768px) {
  .summary-action-checkout button.is-add-to-cart {
    order: initial;
  }
}
.summary-action-checkout button.previous-step {
  margin-bottom: 20px;
  order: 2;
}
@media (min-width: 768px) {
  .summary-action-checkout button.previous-step {
    margin-bottom: 0;
    order: initial;
  }
}
.summary-action-checkout .calculated-price {
  width: auto;
  margin-bottom: 20px;
  order: 1;
  align-self: start;
}
@media (min-width: 768px) {
  .summary-action-checkout .calculated-price {
    margin-bottom: 0;
    order: initial;
    align-self: auto;
  }
}
.summary-action-checkout .calculated-price p:first-child {
  margin-right: 6px;
}
.summary-action-checkout .calculated-price p:first-child,
.summary-action-checkout .calculated-price div {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
}
.summary-action-checkout .calculated-price p:last-child {
  font-size: 16px;
  text-align: right;
}
.summary-action-checkout .summary-action-buttons {
  width: 250px;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .summary-action-checkout .summary-action-buttons {
    margin-bottom: 0;
  }
}
.summary-action-checkout .summary-action-buttons button {
  width: 250px;
}
.summary-action-checkout .summary-action-buttons button:first-child {
  margin-bottom: 20px;
}

.summary-action-notification,
.summary-actions-popup {
  margin-top: 80px;
}
.summary-action-notification .action-notification-button,
.summary-action-notification .action-send-configuration-button,
.summary-actions-popup .action-notification-button,
.summary-actions-popup .action-send-configuration-button {
  text-align: center;
  margin-top: 20px;
}
.summary-action-notification .action-notification-button button.is-send-notification,
.summary-action-notification .action-notification-button button.is-send-configuration,
.summary-action-notification .action-send-configuration-button button.is-send-notification,
.summary-action-notification .action-send-configuration-button button.is-send-configuration,
.summary-actions-popup .action-notification-button button.is-send-notification,
.summary-actions-popup .action-notification-button button.is-send-configuration,
.summary-actions-popup .action-send-configuration-button button.is-send-notification,
.summary-actions-popup .action-send-configuration-button button.is-send-configuration {
  padding: 16px 60px;
  margin-left: 0;
  border-radius: 30px;
  border-color: #d4d4d4;
  background-color: #d4d4d4;
  color: #333;
}
@media (min-width: 768px) {
  .summary-action-notification .action-notification-button button.is-send-notification,
  .summary-action-notification .action-notification-button button.is-send-configuration,
  .summary-action-notification .action-send-configuration-button button.is-send-notification,
  .summary-action-notification .action-send-configuration-button button.is-send-configuration,
  .summary-actions-popup .action-notification-button button.is-send-notification,
  .summary-actions-popup .action-notification-button button.is-send-configuration,
  .summary-actions-popup .action-send-configuration-button button.is-send-notification,
  .summary-actions-popup .action-send-configuration-button button.is-send-configuration {
    padding: 12px 64px;
  }
}
.summary-action-notification .action-notification-button button.is-send-notification:hover,
.summary-action-notification .action-notification-button button.is-send-configuration:hover,
.summary-action-notification .action-send-configuration-button button.is-send-notification:hover,
.summary-action-notification .action-send-configuration-button button.is-send-configuration:hover,
.summary-actions-popup .action-notification-button button.is-send-notification:hover,
.summary-actions-popup .action-notification-button button.is-send-configuration:hover,
.summary-actions-popup .action-send-configuration-button button.is-send-notification:hover,
.summary-actions-popup .action-send-configuration-button button.is-send-configuration:hover {
  border-color: #333;
  background-color: white;
  color: #333;
}

.action-notification-title,
.action-send-configuration-title {
  margin: 0 0 10px;
  font-size: 15px;
  text-align: center;
  text-transform: none;
}

.action-notification-input,
.action-send-configuration-input {
  text-align: center;
}
.action-notification-input input,
.action-send-configuration-input input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d4d4d4;
}
@media (min-width: 450px) {
  .action-notification-input input,
  .action-send-configuration-input input {
    width: 320px;
  }
}

.notification-error,
.send-configuration-error {
  margin-top: 4px;
  font-size: 12px;
  color: red;
  text-transform: lowercase;
}

.summary-actions-popup {
  position: fixed;
  top: -80px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-actions-popup .summary-actions-popup-content {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #f28f19;
  background-color: white;
  box-shadow: 6px 6px 16px 0px #666;
}
@media (min-width: 768px) {
  .summary-actions-popup .summary-actions-popup-content {
    padding: 40px 200px;
  }
}
.summary-actions-popup.hidden {
  display: none;
}
.summary-actions-popup .hide-send-configuration-popup {
  font-size: 24px;
  padding: 0 4px;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.owl-carousel .chevron {
  display: block;
}
.owl-carousel .chevron::before {
  width: 30px;
  height: 30px;
  top: 2px;
  border-color: #f28f19;
}
.owl-carousel .chevron.left::before {
  left: 4px;
}
.owl-carousel .chevron.right::before {
  right: 4px;
}

.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #f4f4f4;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-nav [class*=owl-].disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: 0;
}
.owl-theme .owl-nav .owl-next {
  position: absolute;
  right: 0;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.alert {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .alert {
    max-width: 900px;
  }
}
.alert .alert-content {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: DodgerBlue;
  border: 1px solid DodgerBlue;
  border-radius: 20px;
  background-color: #C7E3FF;
}
.alert .info-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 30px;
  width: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid DodgerBlue;
  border-radius: 50%;
  text-align: center;
  color: DodgerBlue;
}
.alert .alert-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  border: 0;
  z-index: 1001;
  cursor: pointer;
  background: none;
}
.alert .alert-close::after, .alert .alert-close::before {
  width: 2px;
  height: 30px;
  background-color: DodgerBlue;
}
.alert.is-hidden {
  display: none;
}

/*# sourceMappingURL=index.css.map */
